<%= link_to 'Cancel and go back', return_or_back_url %>

<h2>New Scholarship</h2>

<% form_for([@event, @registration, @scholarship]) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :registration_id %>

  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :source_account %><br />
    <%= f.text_field :source_account %>
  </p>
  <p>
    <%= f.label :source_description %><br />
    <%= f.text_field :source_description %>
  </p>
  <p>
    <%= f.submit 'Add' %>
  </p>
<% end %>

<%= link_to 'Cancel and go back', return_or_back_url %>