<%= link_to 'Cancel and go back', return_or_back_url %>

<h2>Editing Personal Information</h2>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :gender_id %><br />
    <%= f.select(:gender_id, @genders) %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :cell_phone %><br />
    <%= f.text_field :cell_phone %>
  </p>

  <fieldset>
    <legend>Current Address</legend>
    <p>
      <%= f.label :local_phone, "Phone" %><br />
      <%= f.text_field :local_phone %>
    </p>
    <p>
      <%= f.label :local_address, "Address" %><br />
      <%= f.text_field :local_address %>
    </p>
    <p>
      <%= f.label :local_city, "City" %><br />
      <%= f.text_field :local_city %>
    </p>
    <p>
      <%= f.label :local_province_id, "Province" %><br />
      <%= f.select(:local_province_id, @provinces) %>
    </p>
    <p>
      <%= f.label :local_postal_code, "Postal Code" %><br />
      <%= f.text_field :local_postal_code %>
    </p>
  </fieldset>

  <fieldset>
    <legend>Permanent Address</legend>
    <p>
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </p>
    <p>
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </p>
    <p>
      <%= f.label :province_id %><br />
      <%= f.select(:province_id, @provinces) %>
    </p>
    <p>
      <%= f.label :postal_code %><br />
      <%= f.text_field :postal_code %>
    </p>
  </fieldset>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Cancel and go back', return_or_back_url %>