<p>
  <b>First name:</b>
  <%=h @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @person.last_name %>
</p>

<p>
  <b>Legal first name:</b>
  <%=h @person.legal_first_name %>
</p>

<p>
  <b>Legal last name:</b>
  <%=h @person.legal_last_name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @person.phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
  <b>Address:</b>
  <%=h @person.address %>
</p>

<p>
  <b>City:</b>
  <%=h @person.city %>
</p>

<p>
  <b>Province:</b>
  <%=h @person.province_id %>
</p>

<p>
  <b>Postal code:</b>
  <%=h @person.postal_code %>
</p>

<p>
  <b>Gender:</b>
  <%=h @person.gender_id %>
</p>

<p>
  <b>Local phone:</b>
  <%=h @person.local_phone %>
</p>

<p>
  <b>Local address:</b>
  <%=h @person.local_address %>
</p>

<p>
  <b>Local city:</b>
  <%=h @person.local_city %>
</p>

<p>
  <b>Local postal code:</b>
  <%=h @person.local_postal_code %>
</p>

<p>
  <b>Local province:</b>
  <%=h @person.local_province_id %>
</p>

<p>
  <b>Cell phone:</b>
  <%=h @person.cell_phone %>
</p>

<p>
  <b>Local valid until:</b>
  <%=h @person.local_valid_until %>
</p>

<p>
  <b>Title:</b>
  <%=h @person.title_id %>
</p>

<p>
  <b>Country:</b>
  <%=h @person.country_id %>
</p>

<p>
  <b>Local country:</b>
  <%=h @person.local_country_id %>
</p>

<p>
  <b>Middle name:</b>
  <%=h @person.middle_name %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>