<%= link_to 'Cancel and go back', return_or_back_url %>

<h2>Editing Event Fields</h2>

<% form_for(@registration, :url => event_registration_url(@event.id, @registration.id) , :html => {:method => :put}) do |reg_form| %>
  <% @registration.field_values.each do |field_value| %>

      <% reg_form.fields_for(:field_values, field_value) do |field_values| %>

        <%= field_value.field.description %>
        <%=
        case field_value.field.field_type.description
        when FieldType::CHECKBOX
          field_values.check_box(:value)
        when FieldType::TEXTBOX
          field_values.text_field(:value)
        when FieldType::TEXTAREA
          field_values.text_area(:value)
        when FieldType::PASSWORD
          field_values.password_field(:value)
        end
        %>
        <br />

      <% end %>

  <% end %>

  <%= reg_form.submit %>
<% end %>

<%= link_to 'Cancel and go back', return_or_back_url %>