
<%= link_to('Back to all registrations', event_campus_path(@event, @campus)) %>


<h2><%=h @event.name %></h2>
<h2>
  <%=h @person.first_name %>
  <%=h @person.last_name %>
</h2>

<% form_for(@registration, :url => {:action => :update}) do |form| %>
  <p>
    <%= form.label(:status_id, 'Current registration status:') %>
    <%= form.select(:status_id, @registration_statuses) %>
    <%= form.submit 'Update' %>
  </p>
<% end %>


<h2>Personal Info</h2>
<p>
  <%=h @person.first_name %>
  <%=h @person.last_name %>
  <br/><%=h @campus.description %>
  <br/><%= mail_to(@person.email) %>
  <br/><%=h @person.gender.description %>
</p>

<h3>Address Info</h3>
<p>
  Current Address
  <br/><%=h @person.local_address %>
  <br/><%=h @person.local_city %>
  <%=h @person.local_province.description %>
  <br/><%=h @person.local_postal_code %>
  <br/><%=h @person.local_phone %>

  <br/>Permanent Address
  <br/><%=h @person.address %>
  <br/><%=h @person.city %>
  <%=h @person.province.description %>
  <br/><%=h @person.postal_code %>
  <br/><%=h @person.phone %>
</p>
<br/><%= link_away('Edit', edit_person_path(@person)) %>



<h2>Pricing</h2>

no credit card stuff yet

<p>
  Total cost for this registrant: <%=h number_to_currency(@price_info[:base_price]) %>
  (regular <%=h number_to_currency(@price_info[:regular_base_price]) %>)
</p>
<p>Total paid: <%=h number_to_currency(@price_info[:amount_paid]) %></p>
<p>Balance owing: <%=h number_to_currency(@price_info[:balance_owed]) %></p>

<p>Rules applied to calculate base price:</p>
<% @price_info[:rules].each_pair do |id, rule| %>
  <p>
  <%=h rule[:description] %>
  <%=h number_to_currency(rule[:discount]) %>
  </p>
<% end %>


<p>
<h3>Scholarships</h3>
<table>

  <% if @has_scholarships then %>

  <tr>
    <th>Source Description</th>
    <th>Source Account</th>
    <th>Amount</th>
    <th></th>
  </tr>

  <% @scholarships.each do |scholarship| %>
  <tr>
    <td><%=h scholarship.source_description %></td>
    <td><%=h scholarship.source_account %></td>
    <td><%=h number_to_currency(scholarship.amount) %></td>
    <td><%= link_away('Edit', edit_event_registration_scholarship_path(@event, @registration, scholarship)) %></td>
    <td><%= link_away('Delete', event_registration_scholarship_path(@event, @registration, scholarship), :confirm => 'Are you sure you want to delete this scholarship?', :method => :delete) %></td>
  </tr>
  <% end %>

  <tr>
    <td>Total:</td>
    <td></td>
    <td><%=h number_to_currency(@price_info[:total_scholarship_worth]) %></td>
    <td></td>
  </tr>

  <% else %>
  <tr><td>This registration has no scholarships.</td></tr>
  <% end %>

  <tr>
    <td><%= link_away('Add new scholarship', new_event_registration_scholarship_path(@event, @registration), :registration_id => @registration.id) %></td>
  </tr>
</table>
</p>


<p>
<h3>Cash Transactions</h3>
<table>

  <% if @has_cash_transactions then %>

  <tr>
    <th>Staff Name</th>
    <th>Cash Received</th>
    <th>Amount</th>
  </tr>

  <% @cash_transactions.each do |cash_transaction| %>
  <tr>
    <td><%=h cash_transaction.staff_name %></td>
    <td><%=h cash_transaction.human_received %></td>
    <td><%=h number_to_currency(cash_transaction.amount_paid) %></td>
    <td><%= link_away('Edit', edit_event_registration_cash_transaction_path(@event, @registration, cash_transaction)) %></td>
    <td><%= link_away('Delete', event_registration_cash_transaction_path(@event, @registration, cash_transaction), :confirm => 'Are you sure you want to delete this cash transaction?', :method => :delete) %></td>
  </tr>
  <% end %>

  <tr>
    <td>Total Received:</td>
    <td></td>
    <td><%=h number_to_currency(@price_info[:total_cash_paid]) %></td>
  </tr>

  <tr>
    <td>Total Not Received:</td>
    <td></td>
    <td><%=h number_to_currency(@price_info[:total_cash_owed]) %></td>
  </tr>

  <% else %>
  <tr><td>This registration has no cash transactions.</td></tr>
  <% end %>

  <tr>
    <td><%= link_away('Add new cash transaction', new_event_registration_cash_transaction_path(@event, @registration), :registration_id => @registration.id) %></td>
  </tr>

</table>
</p>


<p>
<h3>Event Info</h3>
<table>

  <% if @has_fields then %>

  <tr>
    <th>Description</th>
    <th>Value</th>
  </tr>

  <% @field_values.each do |field_value| %>
  <tr>
    <td><%= field_value.field.description %></td>
    <td><%=h field_value.human_value %></td>
  </tr>
  <% end %>

  <tr>
    <td></td>
    <td><%= link_away('Edit event info', event_registration_field_values_url(@event, @registration)) %></td>
  </tr>

  <% else %>
  <tr><td>This event has no info fields.</td></tr>
  <% end %>
</table>
</p>

<%= link_to('Back to all registrations', event_campus_path(@event, @campus)) %>