<h1>New registration</h1>

<% form_for(@registration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </p>
  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :confirm_num %><br />
    <%= f.text_field :confirm_num %>
  </p>
  <p>
    <%= f.label :status_id %><br />
    <%= f.text_field :status_id %>
  </p>
  <p>
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', registrations_path %>
