<%= link_to 'Cancel and go back', return_or_back_url %>

<h2>New Cash Transaction</h2>

<% form_for([@event, @registration, @cash_transaction]) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :registration_id %>
  <p>
    <%= f.label :staff_name %><br />
    <%= f.text_field :staff_name %>
  </p>
  <p>
    <%= f.label :received %>
    <%= f.check_box :received %>
  </p>
  <p>
    <%= f.label :amount_paid %><br />
    <%= f.text_field :amount_paid %>
  </p>
  <p>
    <%= f.submit 'Add' %>
  </p>
<% end %>

<%= link_to 'Cancel and go back', return_or_back_url %>