
<% info = per_campus_event_info(@event) %>

<table>
  <tr>
    <th>Campus</th>
    <th>Admin</th>
    <th><%=  Gender.find(:first, :conditions => "id = 1").description %></th>
    <th><%=  Gender.find(:first, :conditions => "id = 2").description %></th>
    <th>Total</th>
    <th><%=  RegistrationStatus.find(:first, :conditions => "id = 2").description %></th>
    <th><%=  RegistrationStatus.find(:first, :conditions => "id = 1").description %></th>
    <th><%=  RegistrationStatus.find(:first, :conditions => "id = 3").description %></th>
  </tr>

  <% Campus.find(:all).each do |c| %>
  <tr>
    <td>
      <%= info[c.id][:name] %>
    </td>
    <td>
      Registrations
    </td>
    <td>
      <%= info[c.id][:gender][1] %>
    </td>
    <td>
      <%= info[c.id][:gender][2] %>
    </td>
    <td>
      <%= info[c.id][:gender][1] + info[c.id][:gender][2] %>
    </td>
    <td>
      <%= info[c.id][:status][2] %>
    </td>
    <td>
      <%= info[c.id][:status][1] %>
    </td>
    <td>
      <%= info[c.id][:status][3] %>
    </td>
  </tr>
  <% end %>

  <tr>
    <td>
      Totals:
    </td>
    <td>
    </td>
    <td>
      <%= info[:total][:gender][1] %>
    </td>
    <td>
      <%= info[:total][:gender][2] %>
    </td>
    <td>
      <%= info[:total][:gender][1] + info[:total][:gender][2] %>
    </td>
    <td>
      <%= info[:total][:status][2] %>
    </td>
    <td>
      <%= info[:total][:status][1] %>
    </td>
    <td>
      <%= info[:total][:status][3] %>
    </td>
  </tr>

</table>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
