<p>
  <b>Country:</b>
  <%=h @event.country %>
</p>

<p>
  <b>Ministry:</b>
  <%=h @event.ministry %>
</p>

<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Desc brief:</b>
  <%=h @event.desc_brief %>
</p>

<p>
  <b>Desc detail:</b>
  <%=h @event.desc_detail %>
</p>

<p>
  <b>Start:</b>
  <%=h @event.start %>
</p>

<p>
  <b>End:</b>
  <%=h @event.end %>
</p>

<p>
  <b>Reg start:</b>
  <%=h @event.reg_start %>
</p>

<p>
  <b>Reg end:</b>
  <%=h @event.reg_end %>
</p>

<p>
  <b>Website:</b>
  <%=h @event.website %>
</p>

<p>
  <b>Email text:</b>
  <%=h @event.email_text %>
</p>

<p>
  <b>Price:</b>
  <%=h @event.price %>
</p>

<p>
  <b>Deposit:</b>
  <%=h @event.deposit %>
</p>

<p>
  <b>Email:</b>
  <%=h @event.email %>
</p>

<p>
  <b>Price text:</b>
  <%=h @event.price_text %>
</p>

<p>
  <b>On home page:</b>
  <%=h @event.on_home_page %>
</p>

<p>
  <b>Allow cash:</b>
  <%=h @event.allow_cash %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>