
<%= link_to 'Back to all events', events_path %>

<h2><%=h @event.name %></h2>


<table>
  <tr>
    <th>Campus</th>
    <th>Total</th>
    <th><%=h Gender::MALE %></th>
    <th><%=h Gender::FEMALE %> </th>
    <th><%=h RegistrationStatus::CANCELLED %></th>
    <th><%=h RegistrationStatus::REGISTERED %></th>
    <th><%=h RegistrationStatus::INCOMPLETE %></th>
    <th></th>
  </tr>

  <% @per_campus_info.each_pair do |id, campus_info| %>
  <tr>
    <td>
      <%=h campus_info[:name] %>
    </td>
    
    <td><%=h campus_info[:gender][:unknown] + campus_info[:gender][:male] + campus_info[:gender][:female] %></td>
    <td><%=h campus_info[:gender][:male] %></td>
    <td><%=h campus_info[:gender][:female] %></td>

    <td><%=h campus_info[:status][:cancelled] %></td>
    <td><%=h campus_info[:status][:registered] %></td>
    <td><%=h campus_info[:status][:incomplete] %></td>

    <td>
      <%= link_to 'Registrations', event_campus_path(@event, id) %>
    </td>
  </tr>
  <% end %>

  <tr>
    <td>
      Total (unique) Registrations:
    </td>

    <td><%=h @event_totals[:gender][:unknown] + @event_totals[:gender][:male] +  @event_totals[:gender][:female] %></td>
    <td><%=h @event_totals[:gender][:male] %></td>
    <td><%=h @event_totals[:gender][:female] %></td>

    <td><%=h @event_totals[:status][:cancelled] %></td>
    <td><%=h @event_totals[:status][:registered] %></td>
    <td><%=h @event_totals[:status][:incomplete] %></td>

    <td></td>
  </tr>

</table>


<%= link_to 'Edit this event\'s details', edit_event_path(@event) %>