<h1>Editing campus</h1>

<% form_for(@campus) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :short_description %><br />
    <%= f.text_field :short_description %>
  </p>
  <p>
    <%= f.label :account_group_id %><br />
    <%= f.text_field :account_group_id %>
  </p>
  <p>
    <%= f.label :region_id %><br />
    <%= f.text_field :region_id %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :facebook_group %><br />
    <%= f.text_field :facebook_group %>
  </p>
  <p>
    <%= f.label :gcx_namespace %><br />
    <%= f.text_field :gcx_namespace %>
  </p>
  <p>
    <%= f.label :province_id %><br />
    <%= f.text_field :province_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @campus %> |
<%= link_to 'Back', campuses_path %>