
<h2><%=h @campus.description %> registrations for: <%=h @event.name %></h2>

<table>
  <tr>
    <th>Frist Name</th>
    <th>Last Name</th>
    <th>Registration Date</th>
    <th>Email</th>
    <th>Cash Received</th>
    <th>Staff Name</th>
    <th>Status</th>
    <th>Balance Owing</th>
    <th></th>
  </tr>


  <% @registrations.each do |reg| %>

  <tr>
    <td><%=h reg.person.first_name %></td>
    <td><%=h reg.person.last_name %></td>
    <td><%=h reg.date %></td>
    <td><%=h reg.person.email %></td>
    <td><%=h reg.cash_received %></td>
    <td><%=h reg.staff_names_for_cash_transactions %></td>
    <td><%=h reg.registration_status_assoc.description %></td>
    <td><%=h number_to_currency(reg.balance) %></td>
    <td><%= link_to 'Edit', edit_event_registration_path(@event, reg.id) %></td>
  </tr>

  <% end %>
</table>
